/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 11, 2018, 9:25:16 PM
    Author     : soehtutoo
*/

*{
    
    -fx-primary : #1A237E;
    
}

.tab-header-background{
    -fx-background-color: #3F51B5;
}

.tab{
    
    -fx-background-color: #3F51B5;
    -fx-pref-width: 110px;
    -fx-pref-height: 40px;
}

.jfx-tab-pane .tab .tab-label {
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 13;
}

/*.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill :RED;
}
.jfx-tab-pane .tab-selected-line{
    -fx-stroke : RED;
}*/

.custom_button{
    
    -fx-border-color: #7986CB;
    -fx-background-color: -fx-primary;
    -fx-text-fill: white;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    
}

.table-view .table-cell{
    
    -fx-font-weight:bold;
    -fx-font-size:15px;
    -fx-text-fill: #424242;

}

.table-view .column-header-background .label{
     -fx-background-color: transparent; 
     -fx-font-size:16px;
     -fx-font-weight:bold;
     -fx-text-fill: black;
     -fx-pref-height: 35px;
     
}

.table-row-cell:selected {
     -fx-background-color: #424242; 
}
.table-row-cell:selected .text {
     -fx-fill: #FAFAFA;

}
